*.exe 
*.out 
*.bin 
*.o 
library/*.exe 
library/*.out 
library/*.bin 
library/*.o 
library/auto_out.c 
cbas
cbas_dirty 
cbas_pure 
cbas_dbg 
cbas_dbg2 
cbas_clean 
cbas_tcc
auto_out.c
toc_test
fib
strtest
bigunit
dirlist
embedc
sock_test*
stkvm
